/src/main/java/module-info.java
/src/main/resources/com/example/java__/hello-view.fxml
/src/main/resources/images/icon.png
/target/
/src/main/resources/images/
/src/main/resources/com/example/java__/
/src/main/resources/
/.idea/
/target/classes/
/target/generated-sources/
/Java__.iml
/pom.xml
